[ColorEffects:Disabled]
Color={{bg|rgb}}
ColorAmount=0.3
ColorEffect=2
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color={{bg_dim|rgb}}
ColorAmount=0.5
ColorEffect=3
ContrastAmount=0.25
ContrastEffect=2
Enable=true
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={{overlay|rgb}}
BackgroundNormal={{bg_alt|rgb}}
DecorationFocus={{accent|rgb}}
DecorationHover={{accent2|rgb}}
ForegroundActive={{accent|rgb}}
ForegroundInactive={{fg_dim|rgb}}
ForegroundLink={{accent2|rgb}}
ForegroundNegative={{red|rgb}}
ForegroundNeutral={{yellow|rgb}}
ForegroundNormal={{fg|rgb}}
ForegroundPositive={{accent|rgb}}
ForegroundVisited={{fg_dim|rgb}}

[Colors:Complementary]
BackgroundAlternate={{bg_dim|rgb}}
BackgroundNormal={{bg|rgb}}
DecorationFocus={{accent|rgb}}
DecorationHover={{accent2|rgb}}
ForegroundActive={{accent|rgb}}
ForegroundInactive={{fg_dim|rgb}}
ForegroundLink={{accent2|rgb}}
ForegroundNegative={{red|rgb}}
ForegroundNeutral={{yellow|rgb}}
ForegroundNormal={{fg|rgb}}
ForegroundPositive={{accent|rgb}}
ForegroundVisited={{fg_dim|rgb}}

[Colors:Header]
BackgroundAlternate={{bg_alt|rgb}}
BackgroundNormal={{bg_dim|rgb}}
DecorationFocus={{accent|rgb}}
DecorationHover={{accent2|rgb}}
ForegroundActive={{accent|rgb}}
ForegroundInactive={{fg_dim|rgb}}
ForegroundLink={{accent2|rgb}}
ForegroundNegative={{red|rgb}}
ForegroundNeutral={{yellow|rgb}}
ForegroundNormal={{fg|rgb}}
ForegroundPositive={{accent|rgb}}
ForegroundVisited={{fg_dim|rgb}}

[Colors:Header][Inactive]
BackgroundAlternate={{bg_dim|rgb}}
BackgroundNormal={{bg|rgb}}
DecorationFocus={{accent|rgb}}
DecorationHover={{accent2|rgb}}
ForegroundActive={{accent|rgb}}
ForegroundInactive={{fg_dim|rgb}}
ForegroundLink={{accent2|rgb}}
ForegroundNegative={{red|rgb}}
ForegroundNeutral={{yellow|rgb}}
ForegroundNormal={{fg_dim|rgb}}
ForegroundPositive={{accent|rgb}}
ForegroundVisited={{fg_dim|rgb}}

[Colors:Selection]
BackgroundAlternate={{accent|rgb}}
BackgroundNormal={{surface|rgb}}
DecorationFocus={{accent|rgb}}
DecorationHover={{accent2|rgb}}
ForegroundActive={{br_white|rgb}}
ForegroundInactive={{fg|rgb}}
ForegroundLink={{accent2|rgb}}
ForegroundNegative={{red|rgb}}
ForegroundNeutral={{yellow|rgb}}
ForegroundNormal={{br_white|rgb}}
ForegroundPositive={{fg|rgb}}
ForegroundVisited={{fg|rgb}}

[Colors:Tooltip]
BackgroundAlternate={{bg_alt|rgb}}
BackgroundNormal={{bg_dim|rgb}}
DecorationFocus={{accent|rgb}}
DecorationHover={{accent2|rgb}}
ForegroundActive={{accent|rgb}}
ForegroundInactive={{fg_dim|rgb}}
ForegroundLink={{accent2|rgb}}
ForegroundNegative={{red|rgb}}
ForegroundNeutral={{yellow|rgb}}
ForegroundNormal={{fg|rgb}}
ForegroundPositive={{accent|rgb}}
ForegroundVisited={{fg_dim|rgb}}

[Colors:View]
BackgroundAlternate={{bg_dim|rgb}}
BackgroundNormal={{bg|rgb}}
DecorationFocus={{accent|rgb}}
DecorationHover={{accent2|rgb}}
ForegroundActive={{accent|rgb}}
ForegroundInactive={{fg_dim|rgb}}
ForegroundLink={{accent2|rgb}}
ForegroundNegative={{red|rgb}}
ForegroundNeutral={{yellow|rgb}}
ForegroundNormal={{fg|rgb}}
ForegroundPositive={{accent|rgb}}
ForegroundVisited={{fg_dim|rgb}}

[Colors:Window]
BackgroundAlternate={{bg_alt|rgb}}
BackgroundNormal={{bg_dim|rgb}}
DecorationFocus={{accent|rgb}}
DecorationHover={{accent2|rgb}}
ForegroundActive={{accent|rgb}}
ForegroundInactive={{fg_dim|rgb}}
ForegroundLink={{accent2|rgb}}
ForegroundNegative={{red|rgb}}
ForegroundNeutral={{yellow|rgb}}
ForegroundNormal={{fg|rgb}}
ForegroundPositive={{accent|rgb}}
ForegroundVisited={{fg_dim|rgb}}

[General]
ColorScheme={{THEME_NAME}}
Name={{THEME_NAME}}
shadeSortColumn=true

[KDE]
contrast=4

[WM]
activeBackground={{bg_dim|rgb}}
activeBlend={{accent|rgb}}
activeForeground={{accent|rgb}}
inactiveBackground={{bg|rgb}}
inactiveBlend={{fg_dim|rgb}}
inactiveForeground={{fg_dim|rgb}}
